.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: inline-block;
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #005f56;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 107, 0.5);
}
